.venv/
__pycache__/
*.pyc

data/*
!data/.gitkeep
!data/vocab.json

checkpoints/*
!checkpoints/.gitkeep

logs/*
!logs/.gitkeep
!logs/eval_results.json
!logs/training_history.json

.DS_Store
.ipynb_checkpoints/
